.App {
  background-color: lavender;
  min-height: 100vh;
  padding-bottom: 100px;
}

body {
  overflow-x: hidden;
}

.text-to-right {
  text-align: right;
  direction: rtl;
}

.navbar-brand.brand {
  color: #fff;
  padding: 0;
}


.navbar-nav.nav-link.link {
  color: #fff!important;
}

.navItem {
  color: #fff!important;
}

.nav-link {
  padding: 0;
}

.main-container {
  margin-top: 20px;
}

img.moviesLogo{
  height: 50px;
  padding-right: 5px;
}